PapaStreet/UI/PapaStreet.WebUI/Connected Services/LesAgencesService/PropertyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56624/PropertyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LesagencesPropertyService" />
  <xs:import schemaLocation="http://localhost:56624/PropertyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetPropertyList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LesagencesPropertyService" minOccurs="0" name="GetPropertyListResult" nillable="true" type="q1:ArrayOfPropertyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertyDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Id" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertyDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LesagencesPropertyService" minOccurs="0" name="GetPropertyDocumentResult" nillable="true" type="q3:PropertyDocumentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>